{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income'%}">EMPLOYES</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Ajout</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-income' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">IM</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="im"
            value="{{values.im}}"
          />
        </div>
        <div class="form-group">
          <label for="">M0M</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="nom"
            value="{{values.nom}}"
          />
        </div>
        <div class="form-group">
          <label for="">Prenom</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{values.description}}"
          />
        </div>
        <div class="form-group">
          <label for="">AGE</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="age"
            value="{{values.age}}"
          />
        </div>
        <div class="form-group">
          <label for="">POST</label>
          <select class="form-control" name="source">
            {% for source in sources%}
            <option name="source" value="{{source.name}}"
              >{{source.name}}</option
            >
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Date d'emboche</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="income_date"
          />
        </div>

        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
